/*FOOTER/inicio*/
.redes--sociales {
    flex-wrap: wrap-reverse;
    display: flex;
    justify-content: right;

    a {
        img {
            width: $m45;
            height: $m45;
            transition: transform 1s all;

            &:hover {
                transform: translateY(-10px);

            }
        }
    }
}