/*MAIN/inicio*/
@import "../base/maps";
@import "../base/variables";
@import "../base/mixins";
@import "../base/medias";
@import "../base/condicionales";



.title {
    @extend %title;

    &:hover {
        transform: scale(1.05);
    }
}

.icon {
    width: $m40;
    height: $m40;
}

.inicio--locaciones {
    @extend %flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: $m45;

    div {
        a {
            img {
                width: $m300;
                height: $m300;
                border-radius: $m25;
                box-shadow: 3px 0px 10px $c-principal;
                margin: 11px;

                transition: transform 3s inherit;

                &:hover {
                    transform: translateY(15px);
                }
            }
        }
    }

}


.destinos {
    p {
        font-size: $m40;
        color: map-get($c-texto, color-texto);
        font-weight: nth($fw, 5);
        text-shadow: $sh4;
        text-align: $c;
        @include modo (yellow);


    }
}

.hoteles {
    p {
        font-size: $m40;
        color: map-get($c-texto, color-texto);
        font-weight: nth($fw, 5);
        text-shadow: $sh6;
        text-align: $c;
        text-transform: uppercase;
    }

    div {
        @extend %flex;

        a {
            font-size: 3em;
            @include modo (black);
            padding: 3%;
            text-shadow: $sh4;
        }
    }


}





/* MAIN / pilotos-aviones*/
.perfil--pilotos {

    @include grid (grid, center);
    padding-top: $m100;
    grid-template-columns: 300px;
    grid-auto-rows: auto;
    gap: $m25;

    div {
        img {
            width: $m300;
            height: $m300;

        }
    }
}

/* MAIN/ nosotros */
.nosotros-container {
    @include grid (grid, center);
    grid-template-columns: 400px;
    grid-auto-rows: 300px;
    gap: 3px;
    padding-top: 80px;

    div {
        img {
            width: $mt;
            height: $mt;
            object-fit: $cr;

        }
    }
}

.img-2 {
    grid-column: span 1;
}

.img-3 {
    grid-row: span 2;

}

.img-5 {
    grid-column: span 2;
}

.img-7 {
    grid-column: span 2;
}

.img-4 {
    grid-row: span 2;
    grid-column: span 1;
}

.img-8 {
    grid-column: span 1;
}

.img-9 {
    grid-row: span 1;
}

.nosotros-item {
    position: $r;

    h3 {
        position: $a;
        bottom: 0;
        right: 0;
        background-color: $c-principal;
        color: white;
    }
}

// MAIN-servicios-chef
.chef {

    @extend %cocineros;




    p {
        background-color: nth($color, 2);
        border-radius: 7px;
        position: $a;
        font-size: $m25;
    }

    img {
        width: $mt;
        height: $mt;
    }
}

.container-chef {
    @include grid (grid, center);
    grid-template-columns: 280px;
    grid-auto-rows: 400px;
    margin-top: 10px;

    div {
        img {
            width: $mt;
            height: $mt;
            object-fit: $cr;
        }
    }
}






// MAIN-servicios-repostera

// presentacion-cocineros-asesores-aviones-pilotos!!!
.presentacion {
    font-size: nth($fs, 3);
    text-align: $c;
    padding: 8% 2%;
    color: nth($color, 4);
    font-weight: nth($fw, 4);
}


.repostera {

    @extend %cocineros;



    p {
        background-color: $c-secundario;
        border-radius: 7px;
        position: $a;
        font-size: $m25;

    }

    img {
        width: $mt;
        height: $mt;
        object-fit: $cr;

    }
}

.container-repostera {
    @include grid (grid, center);
    grid-template-columns: $rt (3, 1fr);
    grid-auto-rows: 200px;
    margin-top: 10px;
    gap: 4px;

    div {
        width: 320px;

        img {
            width: $mt;
            height: $mt;
            object-fit: $cr;
        }
    }


}

.donas {
    grid-column: span 1;
    grid-row: span 2;

}

.waffles {
    grid-column: span 2;
    grid-row: span 1;

}

.cafe {
    grid-column: span 2;
    grid-row: span 1;

}


/* CONTACTOS.HTML */
.asesoras {
    @include grid (grid, center);



    p {
        font-size: 3em;


    }

    img {
        object-fit: $cr;
        width: 300px;
        border-radius: 100%;
    }
}



.usuario {
    width: $m250;
    height: $m250;
}


.redes-contactos {
    width: 10%;
    height: 10%;
}