%flex {
    display: flex;
    justify-content: center;
}

%title {
    background: url(../img/avion-eeuu.jpg);
    background-position: $c;
    background-size: $cr;
    background-attachment: $f;
    font-size: $m100 / 2;
    color: $c-secundario;
    text-align: $c;
    text-shadow: 3px 8px 5px $c-principal;
    font-weight: nth($fw, 8);
    padding-top: 120px;
    transition: 2s;
}

%cocineros {
    width: 300px;
    height: 500px;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 25px auto 80px auto;
    padding: 20px;
}