/* COLORES*/
$color-principal: rgb(11, 62, 231);
$color-secundario:rgb(255, 255, 255);


/*MEDIDAS*/
$w-25:25px;
$w-40:40px;
$w-45:45px;
$w-250:250px;
$w-100:100px;
$w-300:300px;
$w-total:100%;


/*BACKGROUND*/
$no:no-repeat;















/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
